@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
 font-family: 'Roboto', sans-serif;
}

.row {
  margin: 0;
}

%clearfix {
  clear: both;
  content: '';
  display: table;
}

.mui-dropdown__menu {
  border: 1px solid $base-color;
}

.mui-dropdown__menu {
  li {
    a {
      padding: 5px;
    }
  }
}


