.dropdown-members {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 0;
}

.mui-btn--primary {
  background-color: $white;
  color: $light-black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  text-transform: none;

  &:hover,
  &:focus {
    background-color: $white;
    box-shadow: none;
    color: $light-black;
    outline: 0;
    text-decoration: underline;
  }
}

.img-members {
  border-radius: 25px;
  height: auto;
  float: left;
  width: 35px;
}

.text-members {
  margin-left: 45px;
  margin-bottom: 0;
}